NEXT_PUBLIC_SUPABASE_URL=https://ofrynyrqzvevicbcqimf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_2tkQgsejgqnCi0bVXDNHRg_GzLYpvft
PEXELS_API_KEY=mGbjOZUVV2AnTa04fNRZacrkiiPyGayoPqAU3dgLZKbdPEECh1xI1T11

